<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>  

  <!-- Main Content -->
  <main class="container" style="background-color: #e3f2fd;">
    <div class="jumbotron" style="background-color: #e3f2fd;">
        <h2>Engineer and Software Engineering Technology Student</h2> <br/>
        <center><img src="Assets/images/me.JPG"></center><br/>
        <p>I am Oscar Giovanny Quispe Guanoluisa.<br/><br/> <!-- short description about me -->
        I have a bachelor's degree in Electronics and Control Engineering.
        I am an Automation & Instrumentation professional with 3+ years of engineering experience
        designing, programming, and implementing supervisory and
        advanced control systems to leverage sensor data from different industrial processes.<br/><br/>
        Key skills:<br/>
         Dynamic with leadership and teamwork abilities.<br/> 
         Strong organizational and problem-solving aptitudes.<br/> 
         Solid STEM knowledge, analytical, and soft skills.<br/> 
         Manual dexterity for construction, repair, and handling tools.</p> 
        <!-- insert link to my CV -->
        <a href="https://drive.google.com/file/d/1MFnh89hPIYd3FEvayID_EPL-mwMVzYnN/view?usp=sharing">Resume - Link to a PDF version</a> <br/>
    </div>
  </main>
    
<%- include partials/bottom_nav.ejs %>  
  
<%- include partials/footer.ejs %>