<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>  

  <!-- Main Content -->
  <main  class="container" style="background-color: #e3f2fd;">
    <div class="jumbotron" style="background-color: #e3f2fd;">
      <h1 class="display-4">Welcome to ECUGG!</h1> <br/> <!--welcome message and mision statement -->
      <p>Hello, </p>
      <p><img src="Assets/images/intro.jpg" align="right">You are on the ECUGG page.</p> 
      <p>The purpose of this website is to show my personal portfolio.</p>
      <p>ECUGG has the mission of being the technological tool that combines the advantages of Artificial Intelligence and Automation when developing its clients' applications.
      ECUGG has a presence in sectors of agricultural production, oil & gas companies and begins its foray into renewable energy.</p> 
      <br/> <p><h6>Thanks for choosing us.</h6></p>    
    </div>
  </main>
    
<%- include partials/bottom_nav.ejs %>  
  
<%- include partials/footer.ejs %>